<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
  <div class="container marketing">
    <hr>
    <h2>Dodaj ucznia do klasy</h2>
    <form th:action="@{/klasa/dodaj/uczniow}" method="post">
      <div class="row col-md-12 form-input-row">
        <div class="col-md-6">
          <label for="id_ucznia">Uczen:</label>
        </div>
        <input th:value="${idKlasy}" name="idKlasy" readonly hidden>
        <select th:name="id_ucznia" id="id_ucznia">
          <option th:each="uczen : ${uczenList}"
                  th:text="${uczen.imie + ' ' + uczen.nazwisko + ' => ' + uczen.email }"
                  th:value="${uczen.id}"></option>
        </select>
      </div>
      <input type="submit">
    </form>
    </hr>
  </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>