<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista nauczycieli</title>
  <style>
    td{
      border: 1px solid red;
    }
  </style>
</head>
<body>
<ul>
  <li>
    <a th:href="@{/admin}">Powrót</a>
  </li>
</ul>

<table>
  <tr th:each="nauczyciel,index : ${lista_nauczycieli}">
    <td th:text="${index.index+1}"></td>
    <td th:text="${nauczyciel.imie}"></td>
    <td th:text="${nauczyciel.nazwisko}"></td>
    <td th:text="${nauczyciel.email}"></td>
    <td th:text="${nauczyciel.klasy}"></td>
    <td th:text="${nauczyciel.przedmiot}"></td>
    <td>
      <a th:href="@{/admin/edit(id_nauczyciel_do_edycji=${nauczyciel.id})}">Edytuj</a>
    </td>
    <td>
      <a th:href="@{/admin/usun(id=${nauczyciel.id})}">Usuń</a>
    </td>
  </tr>
</table>

</body>
</html>