<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<main>
    <div class="container marketing">
        <hr>
        <h2>Dodaj ocene</h2>
        <form th:action="@{/teacher/dodaj/ocene}" method="post" th:object="${nowa_ocena}">
            <input type="number" hidden th:value="${uczenId}"  name="id_ucznia" readonly>
            <input type="number" min="1" max="6" step="1" th:field="*{ocena}">
            <select th:field="*{przedmiot}">
                <option th:each="przedmiot : ${oceny_z_przedmiotow}"
                        th:text="${przedmiot}"
                        th:value="${przedmiot}">
                </option>
            </select>
            <input type="submit">
        </form>
        </hr>
    </div>
</main>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>